@media only screen and (max-width: 700px) {
  .ShoppingContainer{
    display: none !important;
  }

.MiniShoppingContainer{
  display: flex !important;
}



}





.ShoppingContainer
{
  display: grid;
  grid-template-columns: auto auto ;
  margin-top: 40px;
 
 
}
.MiniShoppingContainer
{
 
  flex-direction: column;
  align-items: center;
  border-bottom: 20px;
  display :none;
}
.MiniShoppingContainer img{
  width: 70%;
  display: block;
  margin-top: 20px;
  
}
.CenterShoppingPage
{
  width: 100%;
  margin: auto;
}
.ShoppingImage img{
  z-index: -2;
}
.ShoppingBuy{
  margin-left: 50px;
  margin-top: -20px;
}
.BuyButton{
  margin-top: 30px;
  background-color: black;
  width: fit-content;
}

p.Colors{
  display: inline;

}