.Form2{
      
      display: inline-block;
      border-style: solid;
      padding: 40px;
      border-width: 1px;
     
     
       
      
}
.Form{
    text-align: center;
    margin-top: 50px;
   
}